.container{
  width: 150px;
  height: 100vh;
  background-color: yellow;
  box-sizing: border-box;
  border: 2px solid pink;
  // border-radius: 40px 40px 40px 40px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
