.openCloseComponent{
  position: absolute,
}

.dani-component{
  position: absolute;
  top: 500px;
  height: 500px;
  left: 900px;
}
@keyframes suca{
  from {left: 0px}
  to {left: calc(100vw + 300px)}
}


.animate{
  animation-name: suca;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.header{
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color: purple;
  color: white;
}

.spacer{
  flex-grow: 1;
}


.sidenav{
  position: absolute;
  right: 0;
}
