
<header class="header" >
  <h1>Animations</h1>
  <div class="spacer"></div>
  <button (click)="showSide()">menù</button>
</header>


<button onclick="document.querySelector('.dani-component').classList.toggle('animate')">SUCA</button>
<app-dani-animations class="dani-component"></app-dani-animations>

<button type="button" (click)="showHide()">Hide/Show</button>

<app-open-close [@showHide]="isShown ? 'show' : 'hide'" class="openCloseComponent">
  <p>The box is now {{ isShown ? 'shown' : 'hidden' }}!</p>
</app-open-close>


<app-sidenav class="sidenav" [@openCloseSidenav]="isSidenavOpen? 'open' : 'closed'"></app-sidenav>
